# Django Secret Key: Used for cryptographic signing.
DJANGO_SECRET_KEY=

# Database URL: Connection string for your PostgreSQL database.
DATABASE_URL=

# Django Settings Module: Defines which settings file to use.
DJANGO_SETTINGS_MODULE=

RENDER_EXTERNAL_HOSTNAME=